.flash_success, p.success {
    color: green;
}

.flash_error {
    color: red;
}

.flash_notice {
    color: yellow;
}

#header {
    border-bottom: 3px solid lightgray;
}

#account_links {
    float: right;
}

.menu_item {
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
}

.menu_item .feedback {
    display: none;
}

.menu_item .feedback .response {
    display: none;
}
