.flash_success, p.success {
    color: green;
}

.flash_error {
    color: red;
}

.flash_notice {
    color: yellow;
}

#header {
    border-bottom: 3px solid lightgray;
}

#account_links {
    float: right;
}

.menu_item .feedback {
    display: none;
}